<section>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-center mb-5">Edit Profile<% resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>
  <br />
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Enter new password" %>
    <% if @minimum_password_length %>
      <%= @minimum_password_length %> characters minimum
    <% end %>
  </div>
  <br />
  <div class="field form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirm your new password" %>
  </div>
  <br />
  <div class="field form-group">
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:"Enter current password" %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Update", class:"btn btn-dark", :style=>"background-color:#D15FEB; border-color:#D15FEB;"  %>
  </div>
<% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h3 class="text-center mb-5">Cancel my account<% resource_name.to_s.humanize %></h3>
                <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-dark", :style=>"background-color:#7d7b7a; border-color:#7d7b7a;"  %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />