<h1>Diaries</h1>
<%= link_to 'Add New Diary', new_diary_path, class:"btn btn-dark"%> 
<br>
<br>
  <% @diaries.each do |diary| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= diary.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= diary.feeling %></h6>
      <p class="card-text"><%= diary.text %></p>
      <p class="card-text"><%= diary.created_at %></p>
      <%= link_to 'See details', diary, class:"bi bi-check-circle-fill"%>
      <%= link_to 'Delete', diary, method: :delete, data: { confirm: 'Are you sure?' }, class:"bi bi-trash"%>
    </div>
</div>
<br>
<% end %>
