<div class="card">
  <h5 class="card-header"><%= @diary.feeling %></h5>
  <div class="card-body">
    <h5 class="card-title">Title: <%= @diary.title %></h5>
    <p class="card-text"><%= @diary.text %></p>
    <%= link_to ' Edit', edit_diary_path(@diary), class:"btn btn-dark bi bi-pencil-square" %> 
    <%= link_to ' Back', root_path, class:"btn btn-dark bi bi-house" %>
  </div>
</div>

